
body {
    font-family: Tahoma, Arial, sans-serif;
    background-color: rgb(250, 250, 250);
}

h1 {

}

li {
    list-style-type:none;
    margin: 10px;
}

a {
    text-decoration: none;
    /*color: rgb(66, 139, 202);*/
    color: #2890E0;
    font-weight: bold;
}

.bio {
    width: 85%;
}

.bio a {
    font-weight: normal;
}

div.paper {
    width: 90%;
    margin-left: -5%;
    height: 10%;
    padding: 1.0%;
    background-color: rgb(245, 245, 245);
    -webkit-box-shadow: 0px 1px 1px 0.2px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0px 1px 1px 0.2px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 1px 0.2px rgba(0, 0, 0, 0.1);
}

a.paper-link {
    color: #33BFFF;
    font-weight: bold;
    font-size: 16px;
}

a.paper-code {
    color: #00F218;
    font-weight: bold;
    font-size: 16px;
}

a.paper-talk {
    color: #FFB92D;
    font-weight: bold;
    font-size: 16px;
}

a.paper-title {
    color: #000;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

span.footer {
    color: #808080;
}

span.paper-author {
    color: #696969;
    font-size: 14px;
}

span.paper-conf {
    font-size: 14px;
}

div.paper-img {
    max-height: 1000px;
    width: 90%;
    margin-left: -5%;
    margin-top: 1.5%;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out; 
    -moz-transition: all .3s ease-in-out; 
    -ms-transition: all .3s ease-in-out; 
    -o-transition: all .3s ease-in-out; 
    transition: all .3s ease-in-out;
}

div.paper-img img {
    float: left;
    max-height: 18%;
    width: 20%;
    margin-left: 2%;
    vertical-align: middle;
}

div.paper-img div {
    height: 14%;
    padding-left: 0%;
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
}

span.paper-abstract {
    font-weight: bold;
}

div.paper-img.collapsed {
    max-height: 0px;
    margin-top: 0px;
}

.icon a{
    color: #FFF;
    font-size: 24px;
}

.top {
    height: 4%;
    width: 20%;
    position: fixed;
    padding-top: 5px;
    margin-right: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    font-weight: normal;
}

.top i {
    /*color: rgb(66, 139, 202);*/
    color: #2890E0;
    font-size: 20px;
}

.nav {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding-top: 10%;
    padding-bottom: 1%;
    display: block;
    background-color: #000;
    color: #FFF;
    text-align: center;
}

/*.visitors {
    margin-left: 5%;
    width: 20%;
}*/

@media (min-device-width: 600px) {
    .col-3, .col-6, .col-9 {
        float: left;
        position: relative;
        padding-right: 15px;
        padding-left: 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .col-3 {
        width: 25%;
    }
    
    .col-6 {
        width: 50%;
    }
    
    .col-9 {
        width: 75%;
    }
    
    .col-offset-3 {
        margin-left: 25%;
    }

    .nav {
        position: fixed;
    }
}

@media (max-device-width: 599px) {
    .col-3, .col-6, .col-9 {
        position: relative;
        padding-right: 15px;
        padding-left: 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }

    .nav {
        position: relative;
    }

    .fa {
        margin-right: 15px;
    }
}

.img-circle {
    border-radius: 50%;
}